{% extends 'tours/base.html' %}
{% block hotel %}
<body>
<div class="container mt-3">
    <h1 class="display-3 mt-4" data-test="title">{{ 1.title }} {{ 1.stars }} ★</h1>
    <!-- HERO -->
    <p class="lead" data-test="lead"><span data-test="country">{{ 1.country }}</span> Из <span data-text="departure">Новосибирска</span> <span data-text="nights">{{ 1.nights }}</span> ночей</p>
    <img data-test="picture" src="{{ 1.picture }}" class="w-75" alt="">
    <p class="my-4 w-75" data-test="description">{{ 1.description }}</p>
    <a href="" class="btn btn-success btn-lg" data-test="buybutton">Купить тур за <span data-test="price">{{ 1.price }}</span></a>
</div>
</body>
</html>
  </body>
</html>
{% endblock %}