{% extends 'tours/base.html' %}
{% block container %}
<body>
    <div class="jumbotron text-center mt-4">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">{{ 0.subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ 0.description }}</p>
    </div>

    <!-- CARDS -->
{% block card %}
    <div class="row mt-5" data-test="cards">

        <div class="col-4" data-test="card">
          <div class="card mb-3" >
            <img src="{{ 1.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{1.title}}</h5>
              <p class="card-text">{{1.description}}</p>
              <a href="{% url 'hotel' %}" class="btn btn-sm btn-info" data-test="tourlink">Подробнее</a>
            </div>
          </div>
        </div>

        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ 2.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{2.title}}</h5>
              <p class="card-text">{{2.description}}</p>
              <a href="" class="btn btn-sm btn-info" data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>

        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ 3.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
             <h5 class="card-title">{{3.title}}</h5>
             <p class="card-text">{{3.description}}</p>
             <a href="" class="btn btn-sm btn-info" data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>

        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ 4.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{4.title}}</h5>
              <p class="card-text">{{4.description}}</p>
              <a href="" class="btn btn-sm btn-info" data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>

        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ 5.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{5.title}}</h5>
              <p class="card-text">{{5.description}}</p>
              <a href="" class="btn btn-sm btn-info" data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>
        <div class="col-4" data-test="card">
            <div class="card mb-3">
            <img src="{{ 6.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{6.title}}</h5>
              <p class="card-text">{{6.description}}</p>
              <a href="" class="btn btn-sm btn-info"  data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
</body>
{% endblock %}