{% extends 'tours/base.html' %}
{% block container %}

    <h1 class="display-5 mt-4">Летим из <span data-test="from">Новосибирска</span></h1>
    <p class="mb-4" >Найдено
<!--#тут можно попробовать въебать цикл -->
        <span data-test="tourcount">
{{ count_tours.count_nsk }}
        </span>
{% if count_tours.count_nsk == 1 %}
        тур, от
{% elif count_tours.count_nsk == 2 or count_tours.count_nsk == 3 or count_tours.count_nsk == 4 %}
        тура, от
{% else %}
        туров, от
        <span data-test="pricemin">
{% endif %}
            26000
        </span>
        до
        <span data-test="pricemax">84600</span> и от <span data-test="nightsmax">4</span> ночей до <span data-test="nightsmax">15</span> ночей</p>

    <!-- CARDS -->

<div class="row mt-5" data-test="cards">
{% for index, value in tours.items %}
    {% if 'nsk' in value.departure %}
    <div class="col-4" data-test="card">
        <div class="card mb-3" >
            <img src="{{ value.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
                <h5 class="card-title">{{ value.title }}</h5>
                <p class="card-text">{{ value.description }}</p>
                <a href="{% url 'tour' %}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}