{% extends 'tours/base.html' %}

{% block tour %}
<body>
<div class="container mt-3">
    <h1 class="display-3 mt-4" data-test="title">{{ 10.title }} {{ 10.stars }} ★</h1>
    <!-- HERO -->
    <p class="lead" data-test="lead"><span data-test="country">{{ 10.country }}</span> Из <span data-text="departure">Москвы</span> <span data-text="nights">{{ 10.nights }}</span> ночей</p>
    <img data-test="picture" src="{{ 10.picture }}" class="w-75" alt="">
    <p class="my-4 w-75" data-test="description">{{ 10.description }}</p>
    <a href="" class="btn btn-success btn-lg" data-test="buybutton">Купить тур за <span data-test="price">{{ 10.price }}</span></a>
</div>
</body>
</html>
  </body>
</html>
{% endblock %}

